---
openapi: 3.0.0
info:
  title: Example
  version: '1'
  description: ''
servers:
- url: https://example.com
paths:
  "/example":
    get:
      operationId: Example
      parameters:
        - $ref: "#/components/parameters/HeaderParam"
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExampleBody'
      responses:
        '200':
          description: example
components:
  parameters:
    HeaderParam:
      description: The number of results to return per page (max 100)
      in: header
      name: header_param
      schema:
        type: string
    ShippoApiVersionHeader:
      description: String used to pick a non-default API version to use
      in: header
      name: SHIPPO-API-VERSION
      schema:
        type: string
        example: 2018-02-08
  responses: {}
  schemas:
    ExampleBody:
      type: object
      properties:
        field:
          type: string
